* {
    box-sizing: border-box;
    margin: auto;
    font-family: "Kumbh Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(273, 75%, 66%);
    
    
}

.container {
    width: 80%;
    height: 80%;
    padding: 6% 0;

}


img {
    width: 70%;
    overflow: visible;
    position: relative;
    top: 15%;

}

h1 {
    text-align: center;
    padding-bottom: 8%;
}

aside {
    align-self: center;
    background-color: white;
    padding: 40% 1% 20% 1%;
    border-radius: 10px;
}